<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="d:\\Logs\\CruiseLoader\\Log.txt"/>
    <add key="GammaPath" value="d:\\CruiseLoader\\Gama\\"/>
  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString = "Data Source=192.168.10.4;Initial Catalog=total_services;User ID={0}; pwd={1}; Timeout=30;"/>   
  </connectionStrings>
</configuration>