<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExportSoap"/>
                <binding name="ExportSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.costaclick.net/WAWS_1_9/Export.asmx" binding="basicHttpBinding" bindingConfiguration="ExportSoap1" contract="CostaSoap.ExportSoap" name="ExportSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
