<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="d:\\Logs\\CruiseLoader\\Log.txt"/>
    <add key ="ConfigFile" value="d:\\Logs\\CruiseLoader\\Config"/>
	  <add key ="OdysseuFile" value="d:\\CruiseLoader\\Odysseu"/>
    <add key ="ftpServer" value="qa.mcruises.ru"/>
    <add key ="costaCode" value="RU1099IE"/>
    <add key ="costaName" value="MorskieKruises"/>
    <add key ="costaPass" value="M0rsk13kru1ses"/>
    <add key ="costaPath" value="d:\\CruiseLoader\\Costa\\"/>
    <add key ="ftpUser" value="s.atlashkin_prices"/>
    <add key ="ftpPass" value="TmNQJ8GKXrZhFw2dWadUP9rqhPdncb2C7Ha3FIGm"/>
    <add key ="odyFtp" value="ftp.odysol.com"/>
    <add key ="odyFtpLogin" value="cruisehousemk"/>
    <add key ="odyFtpPass" value="6xWBelIZ"/>
    <add key ="ftpPassiveMode" value="true"/>
    <add key ="rcFtpServer" value="dynamicpricingfeed.rccl.com"/>
    <add key="rcFtpUser" value="CONLTURKP"/>
    <add key="rcFtpPass" value="3fg18XZjCD2c52z"/>
    <add key="rcFtpPort" value="36360"/>
  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString = "Data Source=192.168.10.4;Initial Catalog=total_services;User ID={0}; pwd={1}; Timeout=30;"/>   
  </connectionStrings>
</configuration>