<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="d:\\Logs\\CruiseLoader\\Log.txt"/>
    <add key="InfoFlotapikey" value="b2c156534863412ef70404fba3005cc53e683758"/>
    <add key="InfoFlotURL" value="http://api.infoflot.com/JSON/"/>
   
  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString = "Data Source=192.168.10.4;Initial Catalog=ts3;User ID={0}; pwd={1}; Timeout=30;"/>   
  </connectionStrings>
</configuration>