<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="d:\\Logs\\CruiseLoader\\Log.txt"/>
    <add key="PrincessPath" value="d:\\CruiseLoader\\Princess\\"/>
    <add key="url" value="https://breeze.ru/api/v2/exports.xml"/>
    <add key="token" value="ea97abcf2ee746eeb1c5ccd66d10c67a"/>
    <add key ="ftpPassiveMode" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString = "Data Source=192.168.10.4;Initial Catalog=total_services;User ID={0}; pwd={1}; Timeout=30;"/>   
  </connectionStrings>
</configuration>