<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="StPeterLineLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <StPeterLineLoader.Properties.Settings>
            <setting name="StPeterLineLoader_com_stpeterline_spl_test_VXAPIService" serializeAs="String">
                <value>http://booking.stpeterline.com:8880/vxapi/ws/</value>
            </setting>
        </StPeterLineLoader.Properties.Settings>
    </applicationSettings>
</configuration>
