<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="D:\\Logs\\CruiseLoader\\Log2.txt"/>
    <add key="StPeterLineUser" value="SEACRUISE"/>
    <add key="StPeterLinePassward" value="mcruises1608"/>

  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString = "Data Source=192.168.10.4;Initial Catalog=total_services;User ID={0}; pwd={1}; Timeout=30;"/>   
  </connectionStrings>
</configuration>