<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="d:\\Logs\\CruiseLoader\\Log.txt"/>
    <add key ="CarFtp" value="89.108.126.106"/>
    <add key ="CarFtpLogin" value="morskiekruisy"/>
    <add key ="CarFtpPass" value="DH97bbe8v670Q1K"/>
    <add key ="ftpPassiveMode" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString = "Data Source=192.168.10.4;Initial Catalog=total_services;User ID={0}; pwd={1}; Timeout=30;"/>   
  </connectionStrings>
</configuration>