<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="d:\\Logs\\CruiseLoader\\Log.txt"/>
    <add key="MosTurFlotPath" value="d:\\CruiseLoader\\MosTurFlot"/>
    <add key="MosTurFlotapiUSERHASH" value="6e232ab6d0d86649381030eb915eee012e9fb6cc"/>
    <add key="MosTurFlotURL" value="http://booking.mosturflot.ru/api?"/>
  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString = "Data Source=192.168.10.4;Initial Catalog=total_services;User ID={0}; pwd={1}; Timeout=30;"/>   
  </connectionStrings>
</configuration>